*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;

}
body{
  font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif;

}
.header{
  background: radial-gradient(#ffff,#ffd6d6);
}
.contaner{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
.logo{
border-left: 2px solid chartreuse;
border: darkorange;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
  
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: #ff523b;
}
p{
  color: #555;
}
 img{
  color: #ff523b;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
  border-radius: 15px;
}
.col-2 h1{
  font-size: 50px;
  list-style: 60px;
  
}
.btn{
  display: inline-block;
  background: #ff523b;
  color: #ffff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover{
  background: #563434;
}
/* -----------feater---------- */
.header.row{
  margin-top: 70px;
}
.catagori{
  margin: 70px 0;
}
.small-catogoris{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;

}
.col-3{
  flex-basis: 30%;
  min-height: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%;
}
/* -----featuerd---- */
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: all 0.5s;
}
.col-4 img{
  width: 100%;
}
.title{
  text-align:center ;
  margin: 0 auto 90px;
  font-weight: bold;
  line-height: 60px;
  color: #555;
  position: relative;

}
.title::after{
  content:"" ;
  width: 80px;
  height: 5px;
  position: absolute;
  background: #ff523b;
  border-radius: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50px);
}
.rating i{
  color: #ff523b;
}
.col-4:hover{
  transform: translateY(-5px);
}
.offer{
  background: radial-gradient(#fff ,#ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 /watch.jpeg{
  padding: 30px;
}
.testmonil{
  padding-top: 100px;
}
.testmonil .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  border-radius: 20px;
  transition: 0.5s;
}
.testmonil .col-3 img{
  width: 50%;
  margin-top: 20px;
  border-radius: 50%;
}
.testmonil .col-3:hover{
  transform: translateY(-10px);
}
.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.col-3 p{
  font-size: 16px;
  margin: 12px 0;
  color: #777;
}
.testmonil .col-3 h3{
  font-weight: 600;
  color: #555;
  font-size: 18px;

}

/* ---------- brancr---------- */

.branch{
  margin: 100px auto;
}
.col-5 img{

  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover{
  filter: grayscale(0);

}
/* ------footer---------- */
.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-2, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.copyright{
  text-align: center;
}
.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

